
<form name="filter" method="get">
    <!--**************************************************
        DESKTOP
        **************************************************-->
    <div class="filter-group hidden-xs">
        <select name="city" class="filter-select form-control"><!--onchange="this.form.submit()"-->
            <option value=''>전체지역</option>
            {% for city in cities: %}
                <option value="{{city.city}}" {% if request.args.get('city')==city.city: %} selected="selected" {% endif %}>
                    {{ city.city }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="filter-group hidden-xs">
        <select name="beds" class="filter-select form-control">
            <option value="0" {% if request.args.get('beds')=='0': %} selected="selected" {% endif %}>방 0+</option>
            <option value="1" {% if request.args.get('beds')=='1': %} selected="selected" {% endif %}>방 1+</option>
            <option value="2" {% if request.args.get('beds')=='2': %} selected="selected" {% endif %}>방 2+</option>
            <option value="3" {% if request.args.get('beds')=='3': %} selected="selected" {% endif %}>방 3+</option>
            <option value="4" {% if request.args.get('beds')=='4': %} selected="selected" {% endif %}>방 4+</option>
        </select>
    </div>
    <div class="filter-group hidden-xs">
        <select name="baths" class="filter-select form-control">
            <option value="0" {% if request.args.get('baths')=='0': %} selected="selected" {% endif %}>화 0+</option>
            <option value="1" {% if request.args.get('baths')=='1': %} selected="selected" {% endif %}>화 1+</option>
            <option value="2" {% if request.args.get('baths')=='2': %} selected="selected" {% endif %}>화 2+</option>
            <option value="3" {% if request.args.get('baths')=='3': %} selected="selected" {% endif %}>화 3+</option>
            <option value="4" {% if request.args.get('baths')=='4': %} selected="selected" {% endif %}>화 4+</option>
        </select>
    </div>
    <div class="filter-group dropdown hidden-xs" style="width:240px;">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <div class="filter-dropdown form-control">
            ${% if request.args.get('pmin'): %}{{ request.args.get('pmin') }}{% else: %}0 {% endif %} -
            ${% if request.args.get('pmax'): %}{{ request.args.get('pmax') }}{% else: %}{{ price_max }} {% endif %}
            <i class="fa fa-caret-down pull-right" style="margin-top:6px; font-size:13px;" aria-hidden="true"></i>
        </div>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="price-form-group">
                            <label>Min</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input class="form-control price-form-control" type="text" id="rangemin" name="pmin">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="price-form-group">
                            <label>Max</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input class="form-control price-form-control" type="text" id="rangemax" name="pmax">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div id="rangeslider"></div>
            </li>
        </ul>
    </div>

    <div class="filter-group hidden-xs">
        <div class="btn btn-submit" onClick="document.forms['filter'].submit();">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>

    <div class="filter-group pull-right">
        <div class="btn btn-new" onclick="location.href='/{{ category }}/new'">
            글쓰기&nbsp;
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div><!-- END DESKTOP view filter -->
    
    <!--**************************************************
        mobile view filters (visible-xs only)
        **************************************************-->
    <div class="filter-group visible-xs" style="width:48px;">
    	<a class="" data-toggle="modal" href="#filter-modal">
        <div class="btn btn-submit">
        	Filter&nbsp;
            <i class="fa fa-filter" aria-hidden="true"></i>
        </div>
        </a>
    </div>
    <div class="modal" id="filter-modal" role="dialog">
	    <div class="filter-modal-dialog">
	    	<div class="modal-content">
	    		<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&nbsp;&times;</button>
				    <h3 class="modal-title">title test</h3>
				</div>
				<div class="modal-body">
                    <div class="filter-group-mobile visible-xs">
                        <select name="city" class="filter-select form-control">
                            <option value=''>전체지역</option>
                            {% for city in cities: %}
                                <option value="{{city.city}}" {% if request.args.get('city')==city.city: %} selected="selected" {% endif %}>
                                    {{ city.city }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
		    		<div class="filter-group-mobile visible-xs">
		                <select name="beds" class="filter-select form-control">
		                    <option value="0" {% if request.args.get('beds')=='0': %} selected="selected" {% endif %}>방 0+</option>
		                    <option value="1" {% if request.args.get('beds')=='1': %} selected="selected" {% endif %}>방 1+</option>
		                    <option value="2" {% if request.args.get('beds')=='2': %} selected="selected" {% endif %}>방 2+</option>
		                    <option value="3" {% if request.args.get('beds')=='3': %} selected="selected" {% endif %}>방 3+</option>
		                    <option value="4" {% if request.args.get('beds')=='4': %} selected="selected" {% endif %}>방 4+</option>
		                </select>
		            </div>
		            <div class="filter-group-mobile visible-xs">
		                <select name="baths" class="filter-select form-control">
		                    <option value="0" {% if request.args.get('baths')=='0': %} selected="selected" {% endif %}>화 0+</option>
		                    <option value="1" {% if request.args.get('baths')=='1': %} selected="selected" {% endif %}>화 1+</option>
		                    <option value="2" {% if request.args.get('baths')=='2': %} selected="selected" {% endif %}>화 2+</option>
		                    <option value="3" {% if request.args.get('baths')=='3': %} selected="selected" {% endif %}>화 3+</option>
		                    <option value="4" {% if request.args.get('baths')=='4': %} selected="selected" {% endif %}>화 4+</option>
		                </select>
		            </div>
		        </div>
		        <div class="modal-footer">
		            <div class="btn btn-block btn-lg btn-submit" onClick="document.forms['filter'].submit();">
	                    <i class="fa fa-search" aria-hidden="true"></i>
	                </div>
	            </div>
	    	</div>
	    </div>
	</div>
    <!-- END MOBILE view filter -->
</form>

