{% extends 'index.html' %}


{% block content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="row edit-box">
            <h2 class="edit-title">제목 & 소개</h2>
            <div class="col-xs-24 col-sm-12">
                <div class="form-group edit-form-group">
                    {{ form.subject(class="form-control", placeholder="제목*") }}
                    {% for message in form.subject.errors %}
                        <p style="font-size:12px; color:red; margin-top:1px">&nbsp{{ message }}</p>
                    {% endfor %}
                </div>
                
                <div class="form-group edit-form-group">
                    {{ form.body(class="form-control edit-body", placeholder="...", rows="6") }}
                    {% for message in form.body.errors %}
                        <p style="font-size:12px; color:red; margin-top:1px">&nbsp{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-xs-24 col-sm-12">
                <div class="form-group edit-form-group">
                    {{ form.address(class="form-control", placeholder="도로주소*  (e.g. 1234 Wilshire Blvd.)") }}
                    {% for message in form.subject.errors %}
                        <p style="font-size:12px; color:red; margin-top:1px">&nbsp{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="form-group edit-form-group">
                    {{ form.address(class="form-control", placeholder="도시*  (e.g. Los Angeles)") }}
                    {% for message in form.subject.errors %}
                        <p style="font-size:12px; color:red; margin-top:1px">&nbsp{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="form-group edit-form-group">
                    {{ form.price(class="form-control", placeholder="가격") }}
                    {% for message in form.body.errors %}
                        <p style="font-size:12px; color:red; margin-top:1px">&nbsp{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--START contact info row -->
        <div class="row edit-box">
            <div class="col-xs-24 col-sm-12">
                <h2 class="edit-title">연락처 정보</h2>
                <div class="form-group edit-form-group">
                    {{ form.phone(class="form-control", placeholder="전화번호") }}
                </div>
                <div class="form-group form-group edit-form-group">
                    {{ form.email(class="form-control", placeholder="이메일") }}
                </div>
                <div class="form-group edit-form-group">
                    {{ form.kakaotalk(class="form-control", placeholder="카카오톡 ID") }}
                </div>
            </div>
        </div><!--END contact info row -->
        
        <!--START  row -->
        <div class="row edit-box">
            <div class="col-xs-24 col-sm-12">
                <h2 class="edit-title">Included</h2>
                <div class="form-group edit-form-group">
                    {{ form.utilities(value="utilities") }}
                    <span>모든에 동의합니다*</span>
                </div>
                <div class="form-group edit-form-group">
                    {{ form.internet(value="internet") }}
                    <span>모든에 동의합니다*</span>
                </div>
                <div class="form-group edit-form-group">
                    {{ form.furniture(value="furniture") }}
                    <span>모든에 동의합니다*</span>
                </div>
                <div class="input-group edit-form-group">
                    <label id="browsebutton" class="btn btn-browse input-group-addon" for="btn-browse-default">
                        {{ form.image_file(id="btn-browse-default", multiple="") }}
                        Browse...
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div><!--END  row -->
        
        <!--START recaptcha and submit row -->
        <div class="row edit-box">
            <div class="col-xs-24">
                
                <div class="form-group edit-form-group">
                    {{ form.recaptcha() }}
                    위 박스를 체크해주세요*
                </div>
                <div class="form-group edit-form-group">
                    {{ form.submit(class="btn btn-submit") }}
                </div>
            </div>
        </div><!--END recaptcha and submit row -->
    </form>
{% endblock %}

{% block script %}
<script>
$(function() {
  // We can attach the `fileselect` event to all file inputs on the page
    $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });

  // We can watch for our custom `fileselect` event like this
    $(document).ready( function() {
        $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
        });
    });
});
   
</script>
{% endblock %}