<div class="filter-box row">
<form name="filter" method="get">
    <!--**************************************************
        DESKTOP
        **************************************************-->
    <div class="filter-group hidden-xs">
        <select name="city" class="form-control input-lg"><!--onchange="this.form.submit()"-->
            <option value="">전체지역</option>
            {% for city in cities: %}
                <option value="{{city.city}}" {% if request.args.get('city')==city.city: %} selected="selected" {% endif %}>
                    {{ city.city }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="filter-group hidden-xs">
        <select name="category" class="form-control input-lg">
            <option value="" {% if request.args.get('cat')=='0': %} selected="selected" {% endif %}>전체분류</option>
            <option value="rent" {% if request.args.get('cat')=='rent': %} selected="selected" {% endif %}>Rent/Lease</option>
        </select>
    </div>
    <div class="filter-group hidden-xs">
        <select name="beds" class="form-control input-lg">
            <option value="0" {% if request.args.get('beds')=='0': %} selected="selected" {% endif %}>방 0+</option>
            <option value="1" {% if request.args.get('beds')=='1': %} selected="selected" {% endif %}>방 1+</option>
            <option value="2" {% if request.args.get('beds')=='2': %} selected="selected" {% endif %}>방 2+</option>
            <option value="3" {% if request.args.get('beds')=='3': %} selected="selected" {% endif %}>방 3+</option>
            <option value="4" {% if request.args.get('beds')=='4': %} selected="selected" {% endif %}>방 4+</option>
        </select>
    </div>
    <div class="filter-group hidden-xs">
        <select name="baths" class="form-control input-lg">
            <option value="0" {% if request.args.get('baths')=='0': %} selected="selected" {% endif %}>화 0+</option>
            <option value="1" {% if request.args.get('baths')=='1': %} selected="selected" {% endif %}>화 1+</option>
            <option value="2" {% if request.args.get('baths')=='2': %} selected="selected" {% endif %}>화 2+</option>
            <option value="3" {% if request.args.get('baths')=='3': %} selected="selected" {% endif %}>화 3+</option>
            <option value="4" {% if request.args.get('baths')=='4': %} selected="selected" {% endif %}>화 4+</option>
        </select>
    </div>
    <div class="filter-group dropdown hidden-xs">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <button class="filter-button form-control input-lg">
                ${% if request.args.get('pmin'): %}{{ request.args.get('pmin') }}{% else: %}0 {% endif %} -
                ${% if request.args.get('pmax'): %}{{ request.args.get('pmax') }}{% else: %}{{ price_max }} {% endif %}
                <i class="fa fa-caret-down pull-right" style="margin-top:1px;"></i>
            </button>
        </a>
        <div class="dropdown-menu">
            <div class="col-xs-12">
                <div class="price-form-group">
                    <label>Min</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control price-form-control" type="text" id="rangemin" name="pmin">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="price-form-group">
                    <label>Max</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control price-form-control" type="text" id="rangemax" name="pmax">
                    </div>
                </div>
            </div>

            <div class="col-xs-24">
                <div id="rangeslider"></div>
            </div>
        </div>
    </div>

    <div class="filter-group hidden-xs">
        <div class="btn btn-submit btn-lg" onClick="document.forms['filter'].submit();">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    
    <!--**************************************************
        mobile view filters (visible-xs only)
        **************************************************-->
    <div class="filter-group visible-xs" style="width:48px;">
        <a class="" data-toggle="modal" href="#filter-modal">
        <div class="btn btn-submit">
            Filter&nbsp;
            <i class="fa fa-filter" aria-hidden="true"></i>
        </div>
        </a>
    </div>
    <div class="modal" id="filter-modal" role="dialog">
        <div class="filter-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&nbsp;&times;</button>
                    <h3 class="modal-title">title test</h3>
                </div>
                <div class="modal-body">
                    <div class="filter-group-mobile visible-xs">
                        <select name="city" class="form-control">
                            <option value=''>전체지역</option>
                            {% for city in cities: %}
                                <option value="{{city.city}}" {% if request.args.get('city')==city.city: %} selected="selected" {% endif %}>
                                    {{ city.city }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-group-mobile visible-xs">
                        <select name="beds" class="form-control">
                            <option value="0" {% if request.args.get('beds')=='0': %} selected="selected" {% endif %}>방 0+</option>
                            <option value="1" {% if request.args.get('beds')=='1': %} selected="selected" {% endif %}>방 1+</option>
                            <option value="2" {% if request.args.get('beds')=='2': %} selected="selected" {% endif %}>방 2+</option>
                            <option value="3" {% if request.args.get('beds')=='3': %} selected="selected" {% endif %}>방 3+</option>
                            <option value="4" {% if request.args.get('beds')=='4': %} selected="selected" {% endif %}>방 4+</option>
                        </select>
                    </div>
                    <div class="filter-group-mobile visible-xs">
                        <select name="baths" class="form-control">
                            <option value="0" {% if request.args.get('baths')=='0': %} selected="selected" {% endif %}>화 0+</option>
                            <option value="1" {% if request.args.get('baths')=='1': %} selected="selected" {% endif %}>화 1+</option>
                            <option value="2" {% if request.args.get('baths')=='2': %} selected="selected" {% endif %}>화 2+</option>
                            <option value="3" {% if request.args.get('baths')=='3': %} selected="selected" {% endif %}>화 3+</option>
                            <option value="4" {% if request.args.get('baths')=='4': %} selected="selected" {% endif %}>화 4+</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-block btn-lg btn-submit" onClick="document.forms['filter'].submit();">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END MOBILE view filter -->
</form>
</div><!-- END class filter-box -->