
{% extends 'index.html' %}

{% block content %}
<form method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="edit-section row">
    <!--**************************************************
            GENERAL INFORMATION
        **************************************************-->
    <div class="col-xs-24 col-sm-15">
        <h2 class="edit-title">제목 & 소개</h2>
        <div class="col-xs-12">
            <div class="form-group edit-form-group">
                {{ form.category(class="form-control") }}
                {% for message in form.category.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-24">
            <div class="form-group edit-form-group">
                {{ form.subject(class="form-control", placeholder="제목*") }}
                {% for message in form.subject.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-10">
            <div class="form-group edit-form-group">
                {{ form.price(class="form-control", placeholder="가격") }}
                {% for message in form.body.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-14">
            <div class="form-group edit-form-group">
                {{ form.address(class="form-control", placeholder="지역* (예: Los Angeles)") }}
                {% for message in form.subject.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-24">
            <div class="form-group edit-form-group">
                {{ form.body(class="form-control edit-body", placeholder="...", rows="6") }}
                {% for message in form.body.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </div><!--END GENERAL INFORMATION-->

    <!--**************************************************
        CONTACTS INFORMATION
        **************************************************-->
    <div class="col-xs-24 col-sm-8 col-sm-offset-1">
        <h2 class="edit-title">연락처 정보</h2>
        <div class="col-xs-24">
            <div class="form-group edit-form-group">
                {{ form.phone(class="form-control", placeholder="전화번호") }}
            </div>
        </div>
        <div class="col-xs-24">
            <div class="form-group form-group edit-form-group">
                {{ form.email(class="form-control", placeholder="이메일") }}
            </div>
        </div>
        <div class="col-xs-24">
            <div class="form-group edit-form-group">
                {{ form.kakaotalk(class="form-control", placeholder="카카오톡 ID") }}
            </div>
        </div>
    </div><!-- END CONTACTS INFORMATION -->

    <!--**************************************************
        POST INFORMATION
        **************************************************-->
    <div class="col-xs-24 col-sm-8 col-sm-offset-1">
        <h2 class="edit-title">상세 정보</h2>
        <div class="col-xs-24">
            <div class="form-group edit-form-group">
                {{ form.address(class="form-control", placeholder="주소") }}
                {% for message in form.body.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group form-group edit-form-group">
                {{ form.bedrooms(class="form-control", placeholder="방") }}
                {% for message in form.body.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group edit-form-group">
                {{ form.bathrooms(class="form-control", placeholder="화장실") }}
                {% for message in form.body.errors %}
                    <p style="font-size:12px; color:red;">&nbsp{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group edit-form-group">
                {{ form.parking(class="form-control", placeholder="파킹") }}
            </div>
        </div>
        <div class="col-xs-16">
            <div class="form-group edit-form-group">
                {{ form.sqft(class="form-control", placeholder="sqft.") }}
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group edit-form-group">
                {{ form.year(class="form-control", placeholder="년도") }}
            </div>
        </div>
    </div><!-- END CONTACTS INFORMATION -->
</div><!-- END edit-section row -->

<div class="edit-section row">
    <!--**************************************************
        MISC.
        **************************************************-->
    <div class="col-xs-24 col-sm-12">
        <h2 class="edit-title">사진 첨부</h2>
        <div class="col-xs-24">
            <div class="input-group edit-form-group">
                <label id="browsebutton" class="btn btn-browse input-group-addon" for="btn-browse-default">
                    {{ form.image_file(id="btn-browse-default", multiple="") }}
                    Browse...
                </label>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div><!-- END MISC. -->
</div><!--END edit-section row -->

<div class="edit-section row">
    <!--**************************************************
        RECAPTCHA & SUBMIT
        **************************************************-->
    <div class="col-xs-24">
        <div class="col-xs-24">
            <div class="form-group edit-form-group pull-right">
                {{ form.recaptcha() }}
                위 박스를 체크해주세요*
            </div>
        </div>
        <div class="col-xs-24">
            <div class="form-group edit-form-group pull-right">
                {{ form.submit(class="btn btn-submit") }}
            </div>
        </div>
    </div>
</div><!--END RECAPTCHA & SUBMIT row -->
</form>
{% endblock %}

{% block script %}
<script>
$(function() {
  // We can attach the `fileselect` event to all file inputs on the page
    $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });

  // We can watch for our custom `fileselect` event like this
    $(document).ready( function() {
        $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
        });
    });
});
</script>
{% endblock %}