{% extends 'index.html' %}

{% block content %}

<div class="filter-box row">
	{% include 'filters.html' %}
</div>

<div class="posts-box row">
    {% for post in posts: %}<!-- START card -->
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card fade-in">
            <div class="card-viewed">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp{{ post.viewed }}
            </div>
            <div class="card-content">
                <h3 class="card-subject ellipsis">
                    <a data-toggle="modal" href="#view-modal-{{post.id}}">{{ post.subject }}</a>
                    <!--<a href="/{{ page }}/view/{{ post.id }}">{{ post.subject }}</a>-->
                </h3>
                <p class="card-desc ellipsis">
                    <span class="card-desc-price">{{ '${:,}'.format(post.price) }}</span
                    ><span class="card-desc-2">{% if page!='realestate': %}/{{ price_deco }} {% endif %}</span>
                    <span>
                        &nbsp;&nbsp;방<span style="font-weight:normal">{{ post.bedrooms }}</span>
                        &nbsp;•&nbsp;&nbsp;화<span style="font-weight:normal">{% if post.bathrooms==0 %} 공용 {% else: %}{{ post.bathrooms }} {% endif %}</span> 
                    </span>
                </p>
                <div class="card-read-more">
                    <p class="card-read-more-text" style="float:left;"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ post.city }}</p>
                    <p class="card-read-more-text" style="float:right;">{{ (today.date()-post.date_posted.date()).days }}일전</p>
                </div>
            </div>
            <a class="card-img" data-toggle="modal" href="#view-modal-{{post.id}}">
            <!--<a class="card-img" href="/{{ page }}/view/{{ post.id }}">-->
                {% if post.image_ext: %}
                    <img src="{{ post.image_ext }}" />
                {% else %}
                    <img src="{{ url_for('static', filename='images/test-photo.png') }}" />
                {% endif %}
            </a>
        </div><!-- END class card -->
    </div><!-- END grid -->
    {% endfor %}<!-- END cards -->
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card card-new fade-in" onclick="location.href='/{{ page }}/new'">
        	add <i class="fa fa-plus" aria-hidden="true"></i>
        </div><!-- END class card -->
    </div><!-- END grid -->
</div><!-- END posts-box -->

<!--
<div class="map-box hidden-xs col-sm-9">
    <div id="map"></div>
    <script>
    function initMap() {
        var ktown = {lat: 34.0610, lng: -118.3024}
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: ktown
        });
        var marker = new google.maps.Marker({
            position: ktown,
            map: map
        });
        var marker2 = new google.maps.Marker({
            position: {lat: 34.0710, lng: -118.3224},
            map: map
        });
    }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRemzy6J0qJsJn-fZ1qo-5H5o7ephkhnA&language=ko&callback=initMap">
    </script>
</div><!-- END map box -->


{% for post in posts: %}
<!-- START view modal -->
<div class="modal " id="view-modal-{{post.id}}" role="dialog">
    <div class="modal-dialog modal-lg">
    	<div class="modal-content">
        	{% include 'modal.html' %}
        </div>
    </div>
</div>
{% endfor %}
<!-- END view modal -->

<!--
<div class="row">
    <br />
    <div class="col-xs-24 col-sm-offset-21 col-sm-3">
        <a href="/{{ page }}/edit" class="form-control btn btn-new">등록하기</a>
    </div>
    <div class="pagination-centered">
        <ul class="pagination">
            {% for num in range(1, 6): %}
                <li {% if page_num==num %}class="active"{% endif %}>
                    <a href="/{{ page }}/{{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
-->
{% endblock %}<!-- END content block -->


{% block script %}
<script src="{{ url_for('static', filename='js/fotorama.js') }}"></script>
<script>
    var card_width = $('.card').width();
    $('.card').css({
        'height': card_width + 'px'
    });
    window.onresize = function(event) {
        card_width = $('.card').width();
        $('.card').css({
            'height': card_width + 'px'
        });
    };
    
    $(document).ready(function(){ 
        $('.fade-in').hide().fadeIn();
    });
    
    $(document).ready(function(){
        $('#rangeslider').slider({
            range: true,
            min: {{ price_min }},
            max: {{ price_max }},
            values: [{{ pmin_filtered }}, {{ pmax_filtered }}],
            slide: function( event, ui ) {
                $('#rangemin').val( ui.values[0] );
                $('#rangemax').val( ui.values[1] );
            },
            //change: function( event, ui ) {
            //    $('#filter-form').submit();
            //}
        });
        $('#rangemin').val( $("#rangeslider").slider("values", 0) );
        $('#rangemax').val( $("#rangeslider").slider("values", 1) );
    });
</script>
{% endblock %}