
{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-24 col-sm-8 col-sm-offset-8 text-center">
        <h2 class="section-title">환영합니다!</h2>
        <p class="section-p">모든 기능을 사용하기 위해 계정을 검증 해주세요.</p>
        <p class="section-p">가입하신 이메일을 확인 해주시기 바랍니다.</p>
        <br>

        <h4 class="section-title">검증회원 혜택</h4>
        <ul class="list-group">
            <li class="list-group-item">계정 정보 수정/관리</li>
            <li class="list-group-item">계정 포스팅 관리</li>
            <li class="list-group-item">포스팅 추가 기능</li>
            <li class="list-group-item">Premium 포스팅 추가 기능</li>
            <li class="list-group-item">광고 추가 기능</li>
        </ul>
        <br>
    </div>
    <div class="col-xs-24">
        <div class="user-guide">
            <p>나중에 검증하기</p>
            <a href="/main">홈으로</a>
        </div>
    </div>
</div>
{% endblock %}