<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fotorama.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet/css" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/styles.less') }}" />
    <script src="{{ url_for('static', filename='js/less.min.js') }}" type="text/javascript"></script>

    <title>k.town</title>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <section class="container content">
        <!-- flask flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- content html template -->
        {% block content %}
            <!-- 
                block content goes here 
            -->
        {% endblock %}
    </section>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="https://use.fontawesome.com/1ca5ebbc33.js"></script>
{% block script %}
    <!-- for including page-specific scripts -->
{% endblock %}
</html>